
@{
    ViewData["Title"] = "Patients";
}

<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor p-0 mt-63 mt-top-responsive-patient-list">
    <h2 class="kt-portlet__head-title ml-5  mt-63"><strong>Treatment Events Detail</strong></h2>
    <div class="kt-container   kt-container--fluid  kt-grid__item kt-grid__item--fluid p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
                    <div class="c-table">
                        <div class="patient-list table table-responsive">
                            <div class="kt-datatable table kt-datatable--default kt-datatable--brand kt-datatable--loaded">
                                <table class="kt-datatable__table" style="display: block;">
                                    <thead class="kt-datatable__head">
                                    <tr class="kt-datatable__row" style="left: 0px;">
                                        <th class="kt-datatable__cell kt-datatable__cell--sort" style="width:120px; text-align:center">
                                            <span>Device ID</span>
                                        </th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort" style="width:120px; text-align:center">
                                            <span>Device Name</span>
                                        </th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort" style="width:120px; text-align:center">
                                            <span>Last Transmission Date</span>
                                        </th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort" style="width:120px; text-align:center">
                                            <span>Data Storage Node</span>
                                        </th>
                                        <th class="kt-datatable__cell kt-datatable__cell--sort" style="width:520px; text-align:center">
                                            <span>Data Journey</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="kt-datatable__body" style="">
                                        @{
                                            @foreach(var patient in ViewBag.JsonData)
                                            {
                                        
                                            <tr data-row="0" class="kt-datatable__row" style="left: 0px;">
                                                <td class="kt-datatable__cell">
                                                             @patient.DeviceId
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    @patient.DeviceName
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    
                                                        @patient.LastTransmissionDate
                                                    
                                                </td>
                                                <td class="kt-datatable__cell">
                                                    
                                                        @patient.Node
                                                    
                                                </td>
                                                <td class="kt-datatable__cell pb-5">
                                                    
                                                        <div>
                                                            <div style="min-width:480px" class="patient-timeline">
                                                            
                                                                        @foreach (var step in patient.Steps)
                                                                        {
                                                                            if(@step.Status == "Completed")
                                                                            {
                                                                                if (step.Id <= 3)
                                                                                {

                                                                                    <a class="btn btn-brand btn-icon-sm">
                                                                                        @step.Name
                                                                                    </a>
                                                                                    <span class="sep-line-disabled"></span>
                                                                                }
                                                                                else
                                                                                {

                                                                                    <a class="btn btn-brand btn-icon-sm">
                                                                                        @step.Name
                                                                                    </a>
                                                                                }
                                                                            }
                                                                            else if(step.Status == "In Progress")
                                                                            {  
                                                                                if (step.Id <= 3)
                                                                                {

                                                                            <a class="btn btn-outline-brand btn-icon-sm" onclick="showError('@patient.MerckHash', '@patient.LocalHash')">
                                                                                        @step.Name
                                                                                    </a>
                                                                                    <span class="sep-line-disabled"></span>
                                                                                }
                                                                                else
                                                                                {

                                                                            <a class="btn btn-outline-brand btn-icon-sm" onclick="showError('@patient.MerckHash', '@patient.LocalHash')">
                                                                                        @step.Name
                                                                                    </a>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (step.Id<=3){
                                                                                    
                                                                                    <a class="btn btn-outline-secondary disabled">
                                                                                        @step.Name
                                                                                    </a>
                                                                                    <span class="sep-line-disabled"></span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    
                                                                                    <a class="btn btn-outline-secondary disabled">
                                                                                        @step.Name
                                                                                    </a>
                                                                                }

                                                                            }
                                                                        }
                                                                
                                                                <span class="ml-0 line" style="margin-top:15px"></span>
                                                                <a href="TreatmentEvent/ShowTreatmentData?serialNo=@patient.DeviceId" class="link ml-2  p-15 viewBtn-alternate  btn-secondry">View</a>
                                                            </div>
                                                        </div>
                                                    
                                                </td>
                                            
                                            </tr>
                                            }
                                        }
                                    </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showError(merckHash, hash)
    {
        var str="Merck Hash: "+ merckHash +"\n Hash: "+ hash;
        alert(str);
    }
</script>
@if(ViewBag.ShowDiv != null && ViewBag.ShowDiv)
{

    <div class=" ml-4 mr-4 w-98">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class=" grey-card row p-4">
                <div class="col-12 mt-3">
                    <div class="white-card">
                        <div class=" time-line-tabs">
                            <div class="tav-content">
                                <div class="tab-pane fade active show" id="container-2" data-tabid="2" role="tab-2" aria-labelledby="tab-2">
                                    <div class="card-body">
                                        <div class="kt-notes ps ps--active-y" style="padding-left: 15px;padding-top: 20px;">
                                            <div class="kt-notes__items time-line-step row">
                                                @{
                                                    @foreach (var steps in ViewBag.ConductSteps)
                                                    {
                                                        <div class="col-xl-12 col-lg-12 order-lg-12 pl-0 kt-notes__item completedTab disabled --completed" data-islastcompleted="False">
                                                            <div class="kt-notes__media">
                                                                <span class="kt-notes__icon">
                                                                    <i class=" fa fa-check kt-font-primary "></i>
                                                                </span>
                                                            </div>
                                                            <div class="kt-notes__content ">
                                                                <div class="kt-notes__section row">

                                                                    <div class="col-md">
                                                                        <h5 class="kt-notes__items">
                                                                            @steps.StepName

                                                                        </h5>
                                                                        <span class="kt-notes__desc">
                                                                            @steps.StepCompletedDate
                                                                        </span>
                                                                    </div>
                                                                    <div class="col-md text-right">
                                                                        <span class="display-inline">
                                                                            <h5 class="kt-notes ">
                                                                                by: @steps.CompletedBy
                                                                            </h5>
                                                                            <h5 class="color-cerulean kt-notes ">
                                                                                @steps.ManfName
                                                                            </h5>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
