@model IEnumerable<Merck.Models.User>

@{
    ViewData["Title"] = "Users";
}
<div class="container mt-4 bg-white">
<h3>Index</h3>

<div class="row mt-4">
    <div class="col-md-6">
        <a class="btn " href="/user/create">Create User</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Roles
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Users) {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @foreach (var role in item.Roles)
                        {
                            <li>@role.Name</li>
                        }
                    </td>
                </tr>
        }
    </tbody>
</table>
</div>