@model IEnumerable<Merck.Models.TreatmentEvent>

@{
    ViewData["Title"] = "TreatmentEventList";
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor p-0 m-t-30">

    <!-- begin:: Content -->
    <div class="kt-container container  kt-container--fluid  kt-grid__item kt-grid__item--fluid manf_responsive_heading p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile table-container ">

                    <div class="table-search-header row">
                        <div class="col-md-6 col-12">
                            <h3 class="heading">Treatment Events</h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit">

                        <!--begin: Datatable -->
                        <div class="table-responsive user">
                            <div class="tab-pane active table c-table ">
                                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="kt_users" style="">
                                    


    <table class="kt-datatable__table" style="display: block;">
        <thead class="kt-datatable__head">
            <tr class="kt-datatable__row" style="left: 0px;">
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span style="width: 161px;">
                    @Html.DisplayNameFor(model => model.DeviceSerialNumber)
                    </span>
                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span style="width: 161px;">
                    @Html.DisplayNameFor(model => model.Event)
                    </span>
                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span>
                    @Html.DisplayNameFor(model => model.RecordType)
                    </span>
                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span>
                    @Html.DisplayNameFor(model => model.Timestamp)
                    </span>
                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span>
                    @Html.DisplayNameFor(model => model.TransmissionTime)
                    </span>
                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span>
                    @Html.DisplayNameFor(model => model.Value)
                    </span>
                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                    <span>
                    @Html.DisplayNameFor(model => model.Hash)
                    </span>
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody class="kt-datatable__body">
            @foreach (var item in Model)
            {
                <tr class="kt-datatable__row" style="left: 0px;">
                    <td class="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.DeviceSerialNumber)
                        </span>
                    </td>
                    <td class="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.Event)
                        </span>
                    </td>
                    <td class ="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.RecordType)
                        </span>
                    </td>
                    <td class="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.Timestamp)
                        03/07/2022 10:31:22
                        </span>
                    </td>
                    <td class="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.TransmissionTime)
                        12/30/2022 7:10:39 PM
                        </span>
                    </td>
                    <td class="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.Value)
                        </span>
                    </td>
                    <td class="kt-datatable__cell">
                        <span style="width: 161px;">
                        @Html.DisplayFor(modelItem => item.Hash)
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
                            </div>

                                </div>
                                <!--end: Datatable -->
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
