@model IEnumerable<Merck.Models.TreatmentEvent>

@{
    ViewData["Title"] = "TreatmentEventList";
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor p-0 m-t-30">

    <!-- begin:: Content -->
    <div class="kt-container container  kt-container--fluid  kt-grid__item kt-grid__item--fluid manf_responsive_heading p-0">
        <div class="row">
            <div class="col-xl-12">
                <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile table-container ">
                    <div class="table-search-header row">
                        <div class="col-md-6 col-12">
                            <h3 class="heading">Treatment Devices List</h3>
                        </div>
                    </div>
                    <table style="width:100%">
                        <tr>
                            <td style="width:40%">
                                Select Device Type
                            </td>

                            <td style="width:60%">
                                @Html.DropDownList("Device", (SelectList)ViewBag.Devices, ViewBag.SelectedItem, new { @onchange = "onDropdownChange(this)", @class = "form-control col-md-6 col-12",@style="border-radius:10px"})
                            </td>    
                        </tr>
                    </table>
                    <script>
                        function onDropdownChange(dropdown) {
                            var selectedText = dropdown.options[dropdown.selectedIndex].text;
                            console.log("Selected text: " + selectedText);
                            window.location.href = "/TreatmentEvent/TreatmentListByDeviceSerialNumber?device=" + selectedText;
                            
                            /*$.ajax({
                                type: "GET",
                                url: "/TreatmentEvent/TreatmentListByDeviceSerialNumber?device=" + selectedText,
                                success: function (data) {
                                    console.log(data);
                                },
                                error: function (xhr, status, error) {
                                    // Handle the error
                                }
                            });*/
                        }
                    </script>
                    <div class="kt-portlet__body kt-portlet__body--fit">

                        <!--begin: Datatable -->
                        <div class="table-responsive user">
                            <div class="tab-pane active table c-table ">
                                <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="kt_users" style="">



                                    <table class="kt-datatable__table" style="display: block;">
                                        <thead class="kt-datatable__head">
                                            <tr class="kt-datatable__row" style="left: 0px;">
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                                                    <span style="width: 161px;">
                                                        Device Name
                                                    </span>
                                                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                                                    <span style="width: 161px;">
                                                        Device Serial Number
                                                    </span>
                                                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                                                    <span>
                                                        Timestamp
                                                    </span>
                                                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                                                    <span>
                                                        Data Storage Node
                                                    </span>
                                                </th>
                                                <th class="kt-datatable__cell kt-datatable__cell--sort text-center">
                                                    <span>
                                                        
                                                    </span>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="kt-datatable__body">
                                            @foreach (var item in ViewBag.DeviceData)
                                            {
                                                <tr class="kt-datatable__row" style="left: 0px;">
                                                    <td class="kt-datatable__cell">
                                                        <span style="width: 161px;">
                                                            @item.DeviceName
                                                        </span>
                                                    </td>
                                                    <td class="kt-datatable__cell">
                                                        <span style="width: 161px;">
                                                            @if (item.TreatmentEvent != null)
                                                            {
                                                                @item.TreatmentEvent.DeviceSerialNumber;
                                                            }
                                                        </span>
                                                    </td>
                                                    <td class="kt-datatable__cell">
                                                        <span style="width: 161px;">
                                                            @if(item.TreatmentEvent != null){
                                                                @DateTimeOffset.FromUnixTimeMilliseconds(item.TreatmentEvent.LongTimestamp).UtcDateTime;
                                                            }
                                                        </span>
                                                    </td>
                                                    <td class="kt-datatable__cell">
                                                        <span style="width: 161px;">
                                                            @item.Location
                                                        </span>
                                                    </td>
                                                    <td class="kt-datatable__cell">
                                                        <span style="width: 161px;">
                                                            @if (item.TreatmentEvent != null)
                                                            {
                                                                <a href="ShowTreatmentData?serialNo=@item.TreatmentEvent.DeviceSerialNumber">View Detail</a>
                                                            }
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <!--end: Datatable -->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
